{% if track %}
    {% if not customer_name %}<a href="{% url "save_music" track.pk %}" class="dude-music">{% endif %}
        <h4 class="list-group-item-heading music-time">
            <i>
                {% if not customer_name %}
                    {{ track.date|date:'d/m H:i' }}
                {% else %}
                    Ajouté le : <b>{{ track.date|date:'d/m/Y' }}</b>
                {% endif %}
            </i>
        </h4>
        <p class="music-title"><b>{{ track.title }}</b></p>
        <p>{{ track.artist }} / {{ track.album }}<br/></p>
    </a>
{% else %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Pas de musique au Dude ?</h1>

            <iframe width="560" height="315" src="//www.youtube.com/embed/p8oi6M4z_e0?autoplay=1"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{% endif %}
