{% extends "base.html" %}
{% load bootstrap3 %}
{% load qr_tags %}

{% block content %}
    <script>
    $(document).ready(function() {
        setInterval(function()
        {
            $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url:{% url "customer_ajax_info" %},
                    success: function(data){
                        if (data.error)
                            console.log(data.error);
                        else{
                            $('#customer_quantity_litre').html(data.litre);
                            $('#customer_due_bade').html(data.due_bade);
                            $('#customer_bade').html(data.bade);
                            console.log(data);
                            if (data.can_launch == 1) {
                                $('#id-wheel-access').show();
                            }
                            else {
                                $('#id-wheel-access').hide();
                            }
                        }
                    }
        })
        }, 1000);
    });
    </script>
    <div class="row customer-header">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h1>Bonjour, {{ customer_name }}</h1>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <a href="{% url "launch_wheel" %}" class="btn btn-primary wheel-access" id="id-wheel-access">Accéder à la roue de la Fortune</a>
        </div>
    </div>
    <div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="well text-center">
                {% qr_from_text customer_url "m" %}
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mon Compte</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">Nbr Total de litres:</div>
                        <div class="col-lg-9 col-md-9 col-sm-9"><span id="customer_quantity_litre">{{ quantity_total }}</span>L</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">Nbr Conso Gratuite:</div>
                        <div class="col-lg-9 col-md-9 col-sm-9" id="customer_due_bade">{{ due_bade }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">Nbr Conso déjà Offerte:</div>
                        <div class="col-lg-9 col-md-9 col-sm-9" id="customer_bade">{{ nb_bade }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des Consos</h3>
                </div>
                <div class="panel-body">
                    {% for command in command_list %}
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">{{ command.date|date:"d M, Y" }}</div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                {% for product in command.product_set.all %}
                                    {{ product.name }}&nbsp;
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}