{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
    <div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<div class="well">
                <form action="{% url "customer_create" %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Créer
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}