{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
            <div class="panel-body">
				<b>Le Quartier des Beaux Arts c'est un Village dans la Ville<br/><br/></b>
	            Cette partie de la ville pourrait se rapprocher d'un paisible petit village, avec son esprit du sud, ses petits commerces, son marché, ses cafés et nombreux restaurants, ses parcs et jeux pour enfants.<br/>
	            Vous ne pourrez résister à son charme et à l'atmosphère sereine qui y règne. Artistes locaux, habitants du quartier et étudiants remplissent les multiples terrasses de cafés dès les premiers instants ensoleillés.<br/>
			    Vous trouverez dans ce quartier un ravissant marché, qui s'installe sur la place des Beaux-Arts, du lundi au samedi et de 7h à 13h.<br/>
	            Vous le trouverez sans difficultés en empruntant la ligne 1 ou 2 du tramway, en descendant à l'arrêt Corum, ou en bus, avec les lignes 4 et 9, en s'arrêtant à l'arrêt Bernard Délicieux.
	            <br/><br/>
	            Les Commerçants du quartier vous souhaitent la Bienvenue <b>Aux Beaux Arts</b>
	        </div>
		</div>
	</div>
</div>
<div class="row">
	{% for commerce in commerces %}
	<div class="col-lg-4">
		<div class="panel panel-default">
            <div class="panel-body">
	            <div class="commerce-name col-lg-12">
		            <span {% if commerce.type == '3' %}
			                class="glyphicon glyphicon-glass"
			              {% elif commerce.type == '2' %}
			                class="glyphicon glyphicon-tree-deciduous"
		                  {% elif commerce.type == '1' %}
		                    class="glyphicon glyphicon-cutlery"
		                  {% endif %}></span>
					{{ commerce.name }}
		        </div>
                <div class="commerce-separator col-lg-12"></div>
                <div class="col-lg-3">
	                {% if commerce.image %}<img class="img-rounded img-responsive" src="{{ commerce.image }}">{% endif %}
	            </div>
                <div class="col-lg-9">
	                <p><b>Addresse</b> : {{ commerce.address }}</p>
	                {% if commerce.tel %}<p><b>Tel</b> : {{ commerce.tel }}</p>{% endif %}
	                <p><a href="{{ commerce.website }}">Site Internet</a></p>
	            </div>
                <div class="col-lg-12 commerce-separator"></div>
                <div class="col-lg-12">
                    <p>{{ commerce.description }}</p>
                </div>
	        </div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}